# ./requirements.txt

# Django 프레임워크
Django==3.2.25

# 개발 도구
django-tailwind # Django Tailwind css 설정
django-extensions==3.2.3  # 추가 기능을 위한 Django 확장 패키지
python-dotenv==1.0.0  # 환경 변수 로드를 위한 dotenv 패키지

# 데이터 베이스
mysqlclient>=2.1  # MySQL과 연동하기 위한 패키지

# 암호화 및 보안
pyOpenSSL==24.2.1  # SSL/TLS 처리 및 암호화
cryptography==43.0.0  # 암호화 알고리즘 구현

# 기타 의존성
asgiref==3.7.2  # 비동기 지원
sqlparse==0.4.4  # SQL 파싱 도구
pytz==2024.1  # 타임존 지원

